<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head') %>
    <title>登録ページ</title>
</head>
<body>
    <%- include('./header') %>
    <main>
        <div>
            <h1>ユーザー登録</h1>
            <div class="user-create">
                <form action="/user/create" method="post">
                    <label for="name">名前</label>
                    <input type="text" name="name" id="" required>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="" required>
                    <label for="password">パスワード</label>
                    <input type="text" name="password" id="" required>
                    <br>
                    <button type="submit">登録</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('./footer') %>
</body>
</html>